.app 
  background: linear-gradient(20deg, rgb(219, 112, 147), rgb(218, 163, 87));
  min-height: 100vh;
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

.todos
  min-width: 50vw
  
.todos__title
  color: white

.todo_item
  display: flex
  align-items: center
  justify-content: space-between

.todo_item__title
  margin: 0 1rem
  flex-grow: 1

.todo_item__delete
  background: palevioletred
  border-radius: 0.2rem
  color: white
  margin-right: 0.4rem

.todo_item__change
  background: green
  border-radius: 0.2rem
  color: white
  margin-right: 0.4rem